<header>
  <nav>
    <ul>
      <li routerLinkActive="active">
        <a routerLink="/table"><mat-icon>home</mat-icon> Main Table</a>
      </li>
      <li routerLinkActive="active"><a routerLink="/kanban">Kanban</a></li>
    </ul>
  </nav>
</header>

<div class="action-container">
  <button mat-flat-button class="btn-new-task" (click)="createTodo()">New task</button>
  <div class="search-container">
    <!-- Search Input -->
    <mat-form-field appearance="fill" class="search-input">
      <mat-label>Enter task name</mat-label>
      <input matInput [(ngModel)]="taskName">
    </mat-form-field>

    <!-- Search Button -->
    <button mat-fab extended class="search-button" (click)="searchTaskName()">
      <mat-icon>search</mat-icon>
      Search
    </button>
  </div>

  <button mat-fab extended [matMenuTriggerFor]="developerMenu">
    <mat-icon>person</mat-icon>
    Developer
  </button>

  <mat-menu #developerMenu="matMenu">
    <mat-checkbox *ngFor="let dev of developers" [(ngModel)]="selectedDevelopers[dev]"
      (change)="applyDeveloperFilter(dev)">
      {{ dev }}
    </mat-checkbox>
  </mat-menu>

  <button mat-fab extended [matMenuTriggerFor]="sortMenu">
    <mat-icon>sort</mat-icon>
    Sort
  </button>

  <mat-menu #sortMenu="matMenu">
    <mat-checkbox [(ngModel)]="sortOptions['title']" (change)="updateSort('title', $event.checked)">
      Title
    </mat-checkbox>

    <mat-checkbox [(ngModel)]="sortOptions['priority']" (change)="updateSort('priority', $event.checked)">
      Priority
    </mat-checkbox>
  </mat-menu>
</div>