:host {
  display: block;
  font-family: 'Roboto', sans-serif;
}

.table-container {
  width: 100%;
  padding: 20px 0;
  overflow-x: auto;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-new-task {
  border-radius: 5px;
  background-color: #0073E6 !important;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #202235;
  border-radius: 8px;
  overflow: hidden;

  th,
  td {
    color: #fff;
    padding: 12px;
    text-align: left;
    font-size: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  th {
    font-weight: bold;
  }

  tr:last-child td {
    border-bottom: none;
  }

  tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  .mat-checkbox {
    color: #fff;
  }

  .status-badge,
  .status-select {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    border: none;

    &.ready {
      background-color: #3498db;
      color: #fff;
    }

    &.progress {
      background-color: #f1c40f;
      color: #202235;
    }

    &.waiting {
      background-color: #95a5a6;
      color: #fff;
    }

    &.pending {
      background-color: #e67e22;
      color: #fff;
    }

    &.done {
      background-color: #2ecc71;
      color: #fff;
    }

    &.stuck {
      background-color: #e74c3c;
      color: #fff;
    }
  }

  .status-select {
    width: 100%;

    mat-form-field {
      width: 100%;
    }

    mat-select {
      font-weight: bold;
    }

    mat-option {
      padding: 8px;
    }
  }


  .priority-badge,
  .priority-select {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    border: none;

    &.critical {
      background-color: #e74c3c;
      color: #fff;
    }

    &.high {
      background-color: #e67e22;
      color: #fff;
    }

    &.medium {
      background-color: #f1c40f;
      color: #202235;
    }

    &.low {
      background-color: #2ecc71;
      color: #fff;
    }

    &.best-effort {
      background-color: #3498db;
      color: #fff;
    }
  }

  .priority-select {
    width: 100%;
    appearance: none;
    padding: 8px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 8px;

    &:focus {
      outline: none;
      border-color: rgba(255, 255, 255, 0.5);
    }
  }

  .type-badge {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    font-size: 12px;

    &.feature-enhancements {
      background-color: #3498db;
      color: #fff;
    }

    &.other {
      background-color: #8e44ad;
      color: #fff;
    }

    &.bug {
      background-color: #b83223;
      ;
      color: #fff;
    }
  }

  .sp-value {
    font-weight: bold;
    text-align: right;
  }
}

.color-plate-container {
  display: flex;
  align-items: center;
}

.color-plate {
  width: 30px;
  height: 20px;

  &.ready {
    background-color: #3498db;
    color: #fff;
  }

  &.progress {
    background-color: #f1c40f;
    color: #202235;
  }

  &.waiting {
    background-color: #95a5a6;
    color: #fff;
  }

  &.pending {
    background-color: #e67e22;
    color: #fff;
  }

  &.done {
    background-color: #2ecc71;
    color: #fff;
  }

  &.stuck {
    background-color: #e74c3c;
    color: #fff;
  }

  &.feature-enhancements {
    background-color: #3498db;
    color: #fff;
  }

  &.other {
    background-color: #8e44ad;
    color: #fff;
  }

  &.bug {
    background-color: #b83223;
    ;
    color: #fff;
  }

  &.critical {
    background-color: #e74c3c;
    color: #fff;
  }

  &.high {
    background-color: #e67e22;
    color: #fff;
  }

  &.medium {
    background-color: #f1c40f;
    color: #202235;
  }

  &.low {
    background-color: #2ecc71;
    color: #fff;
  }

  &.best-effort {
    background-color: #3498db;
    color: #fff;
  }
}

.total-sp-text {
  text-align: center;

  span {
    font-size: 10px;
  }
}