<div class="header">
  <button mat-flat-button class="btn-new-task" (click)="createTodo()">New task</button>
  <div class="search-container">
    <!-- Search Input -->
    <mat-form-field appearance="fill" class="search-input">
      <mat-label>Enter task name</mat-label>
      <input matInput [(ngModel)]="taskName">
    </mat-form-field>

    <!-- Search Button -->
    <button mat-fab extended class="search-button" (click)="searchTaskName()">
      <mat-icon>search</mat-icon>
      Search
    </button>
  </div>

  <button mat-fab extended [matMenuTriggerFor]="developerMenu">
    <mat-icon>person</mat-icon>
    Developer
  </button>

  <mat-menu #developerMenu="matMenu">
    <mat-checkbox *ngFor="let dev of developers" [(ngModel)]="selectedDevelopers[dev]"
      (change)="applyDeveloperFilter(dev)">
      {{ dev }}
    </mat-checkbox>
  </mat-menu>

  <button mat-fab extended [matMenuTriggerFor]="sortMenu">
    <mat-icon>sort</mat-icon>
    Sort
  </button>

  <mat-menu #sortMenu="matMenu">
    <mat-checkbox [(ngModel)]="sortOptions['title']" (change)="updateSort('title', $event.checked)">
      Title
    </mat-checkbox>

    <mat-checkbox [(ngModel)]="sortOptions['priority']" (change)="updateSort('priority', $event.checked)">
      Priority
    </mat-checkbox>
  </mat-menu>
</div>

<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggleRowSelection(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
      <td mat-footer-cell *matFooterCellDef style="background-color: #141932;"></td>
    </ng-container>

    <!-- Task Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Task</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field *ngIf="element.isEditMode" appearance="fill">
          <mat-label>Enter task name</mat-label>
          <input matInput [(ngModel)]="element.title" />
        </mat-form-field>

        <span *ngIf="!element.isEditMode">{{ element.title }}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef style="background-color: #141932;"></td>
    </ng-container>

    <!-- Developer Column -->
    <ng-container matColumnDef="developer">
      <th mat-header-cell *matHeaderCellDef>Developer</th>
      <td mat-cell *matCellDef="let element">
        <mat-select *ngIf="element.isEditMode" [(ngModel)]="element.developers" style="min-width: 120px;"
          (ngModelChange)="updateDeveloper(element, $event)" multiple placeholder="Select Developer">
          <mat-option *ngFor="let dev of developers" [value]="dev">
            {{ dev }}
          </mat-option>
        </mat-select>

        <span *ngIf="!element.isEditMode">{{ element.developer }}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef style="background-color: #141932;"></td>
    </ng-container>

    <!-- Priority Column -->
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef>Priority</th>
      <td mat-cell *matCellDef="let row">
        <mat-select *ngIf="row.isEditMode" [(ngModel)]="row.priority">
          <mat-option *ngFor="let option of priorityOptions" [value]="option" [ngClass]="getPriorityClass(option)">
            {{ option }}
          </mat-option>
        </mat-select>

        <span *ngIf="!row.isEditMode" class="priority-badge" [ngClass]="getPriorityClass(row.priority)">
          {{ row.priority }}
        </span>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <div class="color-plate-container">
          <div *ngFor="let item of priorityOptions" class="color-plate" [ngClass]="getPriorityClass(item)"></div>
        </div>
      </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let row">
        <mat-select *ngIf="row.isEditMode" [(ngModel)]="row.status">
          <mat-option *ngFor="let option of statusOptions" [value]="option" [ngClass]="getStatusClass(option)">
            {{ option }}
          </mat-option>
        </mat-select>

        <span *ngIf="!row.isEditMode" class="status-badge" [ngClass]="getStatusClass(row.status)">
          {{ row.status }}
        </span>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <div class="color-plate-container">
          <div *ngFor="let item of statusOptions" class="color-plate" [ngClass]="getStatusClass(item)"></div>
        </div>
      </td>
    </ng-container>

    <!-- Type Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let row">
        <mat-select *ngIf="row.isEditMode" [(ngModel)]="row.type" style="min-width: 170px;">
          <mat-option *ngFor="let option of typeOptions" [value]="option" [ngClass]="getTypeClass(option)">
            {{ option }}
          </mat-option>
        </mat-select>
        <span *ngIf="!row.isEditMode" class="type-badge" [ngClass]="getTypeClass(row.type)">
          {{ row.type }}
        </span>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <div class="color-plate-container">
          <div *ngFor="let item of typeOptions" class="color-plate" [ngClass]="getTypeClass(item)"></div>
        </div>
      </td>
    </ng-container>

    <!-- Estimated SP Column -->
    <ng-container matColumnDef="Estimated SP">
      <th mat-header-cell *matHeaderCellDef>Estimated SP</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <mat-form-field *ngIf="element.isEditMode" appearance="fill" class="sp-input">
          <input matInput *ngIf="element.isEditMode" type="number" [(ngModel)]="element['Estimated SP']"
            class="sp-input" />
        </mat-form-field>

        <span *ngIf="!element.isEditMode">{{ element["Estimated SP"] }}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <p class="total-sp-text">{{totalEstimatedSP}}SP <br /> <span>sum</span></p>
      </td>
    </ng-container>

    <!-- Actual SP Column -->
    <ng-container matColumnDef="Actual SP">
      <th mat-header-cell *matHeaderCellDef>Actual SP</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <mat-form-field *ngIf="element.isEditMode" appearance="fill" class="sp-input">
          <input matInput *ngIf="element.isEditMode" type="number" [(ngModel)]="element['Actual SP']"
            class="sp-input" />
        </mat-form-field>

        <span *ngIf="!element.isEditMode">{{ element["Actual SP"] }}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <p class="total-sp-text">{{totalActualSP}} SP <br /> <span>sum</span></p>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button *ngIf="!element.isEditMode" mat-button (click)="editTodo(element)">
          Edit
        </button>
        <button *ngIf="element.isEditMode" mat-button (click)="saveTodo(element)">
          Save
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>